body {
    margin: 0;
    background-color: rgb(248, 228, 202);
    font-family: "Inter", sans-serif;
}

#header {
    background-color: white;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    color: rgb(248, 228, 202);
    box-shadow: 0 0 10px rgb(48, 44, 39);
}

#earth-logo {
    width: 50px;
}

#header-text {
    font-size: 24px;
    font-weight: 400;
    text-shadow: 2px 2px 2px black;
    margin-top: 10px;
}

.entry-container {
    display: flex;
    background-color: white;
    width: 700px;
    align-items: center;
    margin: 16px auto;
    border-radius: 8px;
    padding: 16px;
    color: rgb(104, 97, 87);
    /* text-shadow: 0 0 5px black; */
}

.location-img {
    border-radius: 8px;
    width: 300px;
    height: 200px;
    margin-right: 10px;
}

.location-container {
    display: flex;
}

.location-marker-img {
    width: 15px;
    height: 20px;
    margin: 20px 0 0 10px;
}

.country-text {
    margin: 20px 0 0 10px;
}

a {
    color: rgb(190, 177, 157);
    margin: 20px 0 0 10px;
}